.console {
  padding: 12px;
  position: relative;
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
  color: white;
  text-shadow: 0 0 5px #C8C8C8;
}

.console > div {
  max-width: fit-content;
  min-height: 15px;
  margin: 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
}

.console::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: repeating-linear-gradient(
    0deg,
    #00000027,
    #00000027 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

.console > .user-text {
  color: gray;
  text-shadow: none;
  margin-bottom: 15px;
}

.console h1,
.console h2,
.console h3 {
  text-decoration: underline;
}

.console h1 {
  font-size: 1.5em;
}

.console h2 {
  font-size: 1.2em;
}

.console h3 {
  font-size: 1em;
}

.console-info {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
}

.console > div.console-output {
  margin-bottom: 15px;
  margin-left: 20px;
}

