@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}

@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid white;
  }
}

.text-typing {
  animation: typing 2s steps(40, end) forwards,
             blink 1s;
}

.cursor-blink {
  animation: blink 1s infinite;
}
